Fixing Data BY 
1-Removing Incorrect Or Correct them 
2-Removing Dublicate 
3-Removing na(Null,None) values or fill null values 
4-Remove outliers 
Data Transformation 
Converting Data From one format to another 
Converting Raw data into valueable data

In [1]:
import pandas as pd

In [7]:
data = {
    "A":[1,2,3,None,3,4,5],
    "B":[8,3,4,5,6,1,None],
    "C":[9,1,2,None,1,2,3]
}
df = pd.DataFrame(data)

In [9]:
# MISSING VALUES
print(df.isnull().sum())

A    1
B    1
C    1
dtype: int64

In [10]:
# Remove Row Of na values 
rows_removed = df.dropna()
print(rows_removed)
cols_removed  = df.dropna(axis=1)
print(cols_removed)

     A    B    C
0  1.0  8.0  9.0
1  2.0  3.0  1.0
2  3.0  4.0  2.0
4  3.0  6.0  1.0
5  4.0  1.0  2.0
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

In [12]:
# Filled Missing Values 
# fill by constant Value
filled_zero = df.fillna(0)
print(filled_zero)

filled_mean = df.fillna(df.mean(numeric_only=True))
print(filled_mean)

     A    B    C
0  1.0  8.0  9.0
1  2.0  3.0  1.0
2  3.0  4.0  2.0
3  0.0  5.0  0.0
4  3.0  6.0  1.0
5  4.0  1.0  2.0
6  5.0  0.0  3.0
     A    B    C
0  1.0  8.0  9.0
1  2.0  3.0  1.0
2  3.0  4.0  2.0
3  3.0  5.0  3.0
4  3.0  6.0  1.0
5  4.0  1.0  2.0
6  5.0  4.5  3.0

HANDLE DUBLICATES

In [58]:
data = {
    "A":[1,2,1,3,4,5,None,'100'],
    "B":[1,2,2,4,6,7,3,'10'],
    "C":[1,3,2,5,6,8,5,10]
}
df= pd.DataFrame(data)

In [59]:
# CONVERTING TO NUMERIC
df['A'] = pd.to_numeric(df['A'])
df['B']=pd.to_numeric(df['B'])
df

       A   B   C
0    1.0   1   1
1    2.0   2   3
2    1.0   2   2
3    3.0   4   5
4    4.0   6   6
5    5.0   7   8
6    NaN   3   5
7  100.0  10  10

In [60]:
# remove Dublicates 
dublication_removed = df.drop_duplicates(ignore_index=True,subset=["A","B"])
print(dublication_removed)

       A   B   C
0    1.0   1   1
1    2.0   2   3
2    1.0   2   2
3    3.0   4   5
4    4.0   6   6
5    5.0   7   8
6    NaN   3   5
7  100.0  10  10

HANDLING OUTLIERS

In [61]:
df = df.fillna(df.mean(numeric_only=True))
df

            A   B   C
0    1.000000   1   1
1    2.000000   2   3
2    1.000000   2   2
3    3.000000   4   5
4    4.000000   6   6
5    5.000000   7   8
6   16.571429   3   5
7  100.000000  10  10

In [62]:
print(df.describe())

                A          B          C
count    8.000000   8.000000   8.000000
mean    16.571429   4.375000   5.000000
std     34.087522   3.067689   3.023716
min      1.000000   1.000000   1.000000
25%      1.750000   2.000000   2.750000
50%      3.500000   3.500000   5.000000
75%      7.892857   6.250000   6.500000
max    100.000000  10.000000  10.000000

In [63]:
from scipy import stats

z_score  = stats.zscore(df[["A","B"]])
print(z_score)
abs_z_scores = abs(z_score)
print(abs_z_scores)

              A         B
0 -4.883475e-01 -1.176138
1 -4.569858e-01 -0.827653
2 -4.883475e-01 -0.827653
3 -4.256240e-01 -0.130682
4 -3.942622e-01  0.566289
5 -3.629005e-01  0.914774
6  1.114194e-16 -0.479168
7  2.616467e+00  1.960231
              A         B
0  4.883475e-01  1.176138
1  4.569858e-01  0.827653
2  4.883475e-01  0.827653
3  4.256240e-01  0.130682
4  3.942622e-01  0.566289
5  3.629005e-01  0.914774
6  1.114194e-16  0.479168
7  2.616467e+00  1.960231

In [64]:
filtered_entries = (abs_z_scores < 1.9).all(axis=1)
print(filtered_entries)
df_no_outliers = df[filtered_entries]
print(df_no_outliers)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7    False
dtype: bool
           A  B  C
0   1.000000  1  1
1   2.000000  2  3
2   1.000000  2  2
3   3.000000  4  5
4   4.000000  6  6
5   5.000000  7  8
6  16.571429  3  5

HANDLE STR DATA

In [73]:
data = {
    "A":['a ','b','C',1,'f h'],
    "B":['H ',' s','n ','d ','f']
}
df = pd.DataFrame(data)
df

     A   B
0   a   H
1    b   s
2    C  n
3    1  d
4  f h   f

In [75]:
df['A'] = df['A'].str.strip()
df['B']  = df['B'].str.strip()

df

     A  B
0    a  H
1    b  s
2    C  n
3  NaN  d
4  f h  f

In [76]:
df['A'] = df['A'].str.lower()
df['B']  = df['B'].str.lower()
df

     A  B
0    a  h
1    b  s
2    c  n
3  NaN  d
4  f h  f

DATE TIME

In [77]:
data = {
    'A': ['2021-01-01', '2021-02-01', '2021-03-01'],
    'B': ['1/1/2021', '2/1/2021', '3/1/2021']
}

df = pd.DataFrame(data)
print("\nOriginal DataFrame with date as string:")
print(df)

# Convert to datetime
df['A'] = pd.to_datetime(df['A'])
df['B'] = pd.to_datetime(df['B'])
print("\nDataFrame after converting to datetime:")
print(df)

Original DataFrame with date as string:
            A         B
0  2021-01-01  1/1/2021
1  2021-02-01  2/1/2021
2  2021-03-01  3/1/2021

DataFrame after converting to datetime:
           A          B
0 2021-01-01 2021-01-01
1 2021-02-01 2021-02-01
2 2021-03-01 2021-03-01

ONE HOT ENCODING

In [78]:
# Sample DataFrame with categorical data
data = {
    'A': ['a', 'b', 'a', 'c'],
    'B': ['x', 'y', 'z', 'x']
}

df = pd.DataFrame(data)
print("\nOriginal DataFrame with categorical data:")
print(df)

df_encoded = pd.get_dummies(df, columns=['A', 'B'])
print("\nDataFrame after one-hot encoding:")
print(df_encoded)

Original DataFrame with categorical data:
   A  B
0  a  x
1  b  y
2  a  z
3  c  x

DataFrame after one-hot encoding:
     A_a    A_b    A_c    B_x    B_y    B_z
0   True  False  False   True  False  False
1  False   True  False  False   True  False
2   True  False  False  False  False   True
3  False  False   True   True  False  False

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Sample data
data = {'Color': ['red', 'blue', 'green', 'blue', 'green', 'red']}
df = pd.DataFrame(data)

# Apply label encoding
label_encoder = LabelEncoder()
df['Color_Encoded'] = label_encoder.fit_transform(df['Color'])

print(df)

   Color  Color_Encoded
0    red              2
1   blue              0
2  green              1
3   blue              0
4  green              1
5    red              2

In [2]:
from sklearn.preprocessing import OrdinalEncoder

data = {'Size': ['small', 'medium', 'large', 'medium', 'small']}
df = pd.DataFrame(data)

size_order = ['small', 'medium', 'large']

ordinal_encoder = OrdinalEncoder(categories=[size_order])
df['Size_Encoded'] = ordinal_encoder.fit_transform(df[['Size']])

print(df)

     Size  Size_Encoded
0   small           0.0
1  medium           1.0
2   large           2.0
3  medium           1.0
4   small           0.0

DELIEVERED

In [88]:
data  = {
    "A" :[1,2,4,1,5,'1',7,1,10,None,1000],
    "B" :[1,4,5,4,1,8,None,'0',1,1,10000],
    "C" :[1,4,3,4,2,3,4,5,6,1,100],
    "D":["20/12/2024","21/11/23","20/12/2024","21/11/23","20/12/2024","21/11/23","20/12/2024","21/11/23","20/12/2024","21/11/23","20/12/2024"]


}
df = pd.DataFrame(data)

In [89]:
# CONVERT INTO NUMERIC 

df["A"] = pd.to_numeric(df["A"])
df['B'] = pd.to_numeric(df["B"])

In [84]:
# REMOVING DUBLICATION 

after_removing_ublication = df.drop_duplicates(ignore_index=True,keep='last',subset=['B','C'])
print(after_removing_ublication)

        A        B    C           D
0     4.0      5.0    3  20/12/2024
1     1.0      4.0    4    21/11/23
2     5.0      1.0    2  20/12/2024
3     1.0      8.0    3    21/11/23
4     7.0      NaN    4  20/12/2024
5     1.0      0.0    5    21/11/23
6    10.0      1.0    6  20/12/2024
7     NaN      1.0    1    21/11/23
8  1000.0  10000.0  100  20/12/2024

In [85]:
# HANDLE NULL VALUES
df =df.fillna(df.mean(numeric_only=True))
print(df)

         A        B    C           D
0      1.0      1.0    1  20/12/2024
1      2.0      4.0    4    21/11/23
2      4.0      5.0    3  20/12/2024
3      1.0      4.0    4    21/11/23
4      5.0      1.0    2  20/12/2024
5      1.0      8.0    3    21/11/23
6      7.0   1002.5    4  20/12/2024
7      1.0      0.0    5    21/11/23
8     10.0      1.0    6  20/12/2024
9    103.2      1.0    1    21/11/23
10  1000.0  10000.0  100  20/12/2024

In [70]:
# REMOVE OUTLIERS

from scipy import stats

In [86]:
z_score = stats.zscore(df[['A','B','C']])
absolute = abs(z_score)

remove = (absolute<3).all(axis=1)
print(remove)
df = df[remove]
print(df)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10    False
dtype: bool
       A       B  C           D
0    1.0     1.0  1  20/12/2024
1    2.0     4.0  4    21/11/23
2    4.0     5.0  3  20/12/2024
3    1.0     4.0  4    21/11/23
4    5.0     1.0  2  20/12/2024
5    1.0     8.0  3    21/11/23
6    7.0  1002.5  4  20/12/2024
7    1.0     0.0  5    21/11/23
8   10.0     1.0  6  20/12/2024
9  103.2     1.0  1    21/11/23

In [91]:

df["D"] =df["D"].astype(str).str.replace('-','+')
print(df)

         A        B    C           D
0      1.0      1.0    1  20+12+2024
1      2.0      4.0    4    21+11+23
2      4.0      5.0    3  20+12+2024
3      1.0      4.0    4    21+11+23
4      5.0      1.0    2  20+12+2024
5      1.0      8.0    3    21+11+23
6      7.0      NaN    4  20+12+2024
7      1.0      0.0    5    21+11+23
8     10.0      1.0    6  20+12+2024
9      NaN      1.0    1    21+11+23
10  1000.0  10000.0  100  20+12+2024

In [120]:
data = {
    "A":['a ,',' b','c ','d f','i','a'],
    "D":['a','n','f','f ','s ','a'],
    "C":['a ','d',' d','d','f','a']
}

df = pd.DataFrame(data)
df

     A   D   C
0  a ,   a  a
1    b   n   d
2   c    f   d
3  d f  f    d
4    i  s    f
5    a   a   a

In [121]:
df["A"] = df["A"].str.strip()
df["D"]=df['D'].str.strip()
df['C'] = df['C'].str.strip()

In [122]:
df = df.drop_duplicates(df,keep='last')
print(df)

     A  D  C
0  a ,  a  a
1    b  n  d
2    c  f  d
3  d f  f  d
4    i  s  f
5    a  a  a

ENCODING TECHNIQUES

In [123]:
# HOT ENCODING 
# is use for Categorical data and for dumies data need more space 
hot_encoding  = pd.get_dummies(df)
print(hot_encoding)

     A_a  A_a ,    A_b    A_c  A_d f    A_i    D_a    D_f    D_n    D_s  \
0  False   True  False  False  False  False   True  False  False  False
1  False  False   True  False  False  False  False  False   True  False
2  False  False  False   True  False  False  False   True  False  False
3  False  False  False  False   True  False  False   True  False  False
4  False  False  False  False  False   True  False  False  False   True
5   True  False  False  False  False  False   True  False  False  False

     C_a    C_d    C_f
0   True  False  False
1  False   True  False
2  False   True  False
3  False   True  False
4  False  False   True
5   True  False  False

In [125]:
# LABEL ENCODING 

# Assigning number to each category of textual data 
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
categrical_columns = df.select_dtypes(include = ['object','bool']).columns

print(categrical_columns)

for col in categrical_columns:
    df[col] = le.fit_transform(df[col])



print(df)

Index(['A', 'D', 'C'], dtype='object')
   A  D  C
0  1  0  0
1  2  2  1
2  3  1  1
3  4  1  1
4  5  3  2
5  0  0  0

<!-- ORDINAL DATA  -->
usefull for oridered format data like 
colors red,blue,white or like low , high , higest

In [135]:
data= {
    "AGE":['oldage','man','man','oldage','child','young','oldage']
}
df   = pd.DataFrame(data)

In [136]:
df

      AGE
0  oldage
1     man
2     man
3  oldage
4   child
5   young
6  oldage

In [137]:
from sklearn.preprocessing import OrdinalEncoder

order = ['child','young','man','oldage']
oe  = OrdinalEncoder(categories=[order])
df["AGE"] = oe.fit_transform(df[['AGE']])
print(df)

   AGE
0  3.0
1  2.0
2  2.0
3  3.0
4  0.0
5  1.0
6  3.0