In [3]:

from bs4 import BeautifulSoup
import requests
url = "https://www.nhlbi.nih.gov/health/blood-tests"
response= requests.get(url=url)
print(response)

<Response [200]>

In [4]:
soup = BeautifulSoup(response.text, 'lxml')

In [6]:
table = soup.find("table")
theads = table.find_all("th")
titles = []
for th in theads:
    titles.append(th.text.strip(" \n"))
print(titles)

['Test', 'Normal Range Results*']

In [7]:
import pandas as pd
df =pd.DataFrame(columns=titles)
print(len(df))

0

In [8]:
rows = table.find_all("tr")
count=0

for tr in rows:
    
    tds = tr.find_all("td")
    if len(tds) == len(titles):
        row=[td.text.strip("\n [] ,=") for td in tds]
        l = len(df)  
        df.loc[l]=row
df

,Test,Normal Range Results*
0,Red blood cell,Adult Men: 5 to 6 million cells/mcL\n\t\t\tAdu...
1,White blood cell,"4,500 to 10,000 cells/mcL"
2,Platelets,"140,000 to 450,000 cells/mcL"
3,Hemoglobin (varies with altitude),Adult Men: 14 to 17 gm/dL\n\t\t\tAdult Women:1...
4,Hematocrit (varies with altitude),Adult Men: 41% to 50 %\n\t\t\tAdult Women: 36%...
5,Mean corpuscular volume,0 to 95 femtoliter†

In [1]:
import pandas as pd
import ssl

# Bypass SSL verification
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
table = pd.read_html('https://en.wikipedia.org/wiki/Blood_type')

In [4]:
for i, table in enumerate(table):
    print(f"Table {i + 1}:\n", table, "\n")

Table 1:
   Phenotype     Genotype
0         A  IAIA or IAi
1         B  IBIB or IBi
2        AB         IAIB
3         O           ii

Table 2:
                                           Unnamed: 0  ABO       Rh Kell Duffy  \
0                                Naturally occurring  Yes       No   No    No
1  Most common in immediate hemolytic transfusion...    A      NaN  Yes   Fya
2  Most common in delayed hemolytic transfusion r...  NaN  E, D, C  NaN   NaN
3    Most common in hemolytic disease of the newborn  Yes     D, C  Yes   NaN
4           Commonly produce intravascular hemolysis  Yes      NaN  NaN   NaN

  Kidd
0   No
1  Jka
2  Jka
3  NaN
4  Yes

Table 3:
   Recipient[1] Donor[1]
  Recipient[1]       O−  O+  A−  A+  B−  B+ AB− AB+
0           O−      NaN NaN NaN NaN NaN NaN NaN NaN
1           O+      NaN NaN NaN NaN NaN NaN NaN NaN
2           A−      NaN NaN NaN NaN NaN NaN NaN NaN
3           A+      NaN NaN NaN NaN NaN NaN NaN NaN
4           B−      NaN NaN NaN NaN NaN NaN NaN NaN
5           B+      NaN NaN NaN NaN NaN NaN NaN NaN
6          AB−      NaN NaN NaN NaN NaN NaN NaN NaN
7          AB+      NaN NaN NaN NaN NaN NaN NaN NaN

Table 4:
   Recipient Donor
  Recipient     O   A   B  AB
0         O   NaN NaN NaN NaN
1         A   NaN NaN NaN NaN
2         B   NaN NaN NaN NaN
3        AB   NaN NaN NaN NaN

Table 5:
   vteBlood transfusion and transfusion medicine  \
0                                Blood products
1                              General concepts
2                                       Methods
3                                         Tests
4     Transfusion reactions and adverse effects
5                           Blood group systems

     vteBlood transfusion and transfusion medicine.1
0  Whole blood Platelets Platelet transfusion Red...
1  Blood bank Blood donation Blood management Int...
2  Apheresis (plasmapheresis, plateletpheresis, l...
3  Blood compatibility testing Cross-matching Coo...
4  Transfusion hemosiderosis Transfusion related ...
5  Blood types ABO Secretor status Augustine CD59...

Table 6:
                                        0  \
0  Authority control databases: National

                                                   1
0  France BnF data Germany Israel United States L...

In [5]:
# for i in range(len(table)):
#   print(table[i],'/n')
titles = ['Title1', 'Title2', 'Title3', 'Title4']

In [14]:
df = None
if isinstance(table[0], pd.DataFrame):
    if len(titles) == len(table[0].columns):
        df = pd.DataFrame(table[0].values, columns=titles)
    else:
        raise ValueError("The number of titles does not match the number of columns in the table.")
else:
    # If the table is a Series, we can't set column titles in the same way
    print("The first table is a Series, not a DataFrame. Column titles cannot be assigned.")

The first table is a Series, not a DataFrame. Column titles cannot be assigned.

In [15]:
if df is not None:
    print(f"Length of the DataFrame: {len(df)}")

    # Optionally, print the DataFrame to verify the columns
    print(df)
else:
    print("DataFrame 'df' was not created due to the mismatch in the number of titles and columns or because the table is a Series.")

DataFrame 'df' was not created due to the mismatch in the number of titles and columns or because the table is a Series.