In [1]:
!pip install beautifulsoup4

Defaulting to user installation because normal site-packages is not writeable
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.12.3-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading soupsieve-2.5-py3-none-any.whl.metadata (4.7 kB)
Downloading beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
   ---------------------------------------- 0.0/147.9 kB ? eta -:--:--
   -------- ------------------------------- 30.7/147.9 kB 1.3 MB/s eta 0:00:01
   -------- ------------------------------- 30.7/147.9 kB 1.3 MB/s eta 0:00:01
   ---------- ---------------------------- 41.0/147.9 kB 281.8 kB/s eta 0:00:01
   ---------------- ---------------------- 61.4/147.9 kB 328.2 kB/s eta 0:00:01
   ------------------------ -------------- 92.2/147.9 kB 403.5 kB/s eta 0:00:01
   ------------------------ -------------- 92.2/147.9 kB 403.5 kB/s eta 0:00:01
   ------------------------ -------------- 92.2/147.9 kB 403.5 kB/s eta 0:00:01
   ------------------------ -------------- 92.2/147.9 kB 403.5 kB/s eta 0:00:01
   ------------------------ -------------- 92.2/147.9 kB 403.5 kB/s eta 0:00:01
   ------------------------ -------------- 92.2/147.9 kB 403.5 kB/s eta 0:00:01
   ------------------------ -------------- 92.2/147.9 kB 403.5 kB/s eta 0:00:01
   ------------------------------------ - 143.4/147.9 kB 258.0 kB/s eta 0:00:01
   ------------------------------------ - 143.4/147.9 kB 258.0 kB/s eta 0:00:01
   -------------------------------------- 147.9/147.9 kB 231.8 kB/s eta 0:00:00
Downloading soupsieve-2.5-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.12.3 soupsieve-2.5

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
from bs4 import BeautifulSoup
import requests
url = "https://en.wikipedia.org/wiki/Rankings_of_universities_in_the_United_Kingdom"
response= requests.get(url=url)
print(response)

<Response [200]>

In [5]:

soup = BeautifulSoup(response.text,'lxml')

In [6]:
table = soup.find("table",class_ = "wikitable")
theads = table.find_all("th")
titles = []
for th in theads:
    titles.append(th.text.strip(" \n"))
print(titles)

['Rank (1–10)', 'University', 'Rank (11–20)', 'University', 'Rank (21–30)', 'University', 'Rank (31–40)', 'University']

In [7]:
import pandas as pd
df =pd.DataFrame(columns=titles)
print(len(df))

0

In [8]:
rows = table.find_all("tr")
count=0

for tr in rows:
    
    tds = tr.find_all("td")
    if len(tds) == len(titles):
        row=[td.text.strip("\n [] ,=") for td in tds]
        l = len(df)  
        df.loc[l]=row
df

,Rank (1–10),University,Rank (11–20),University,Rank (21–30),University,Rank (31–40),University
0,1,University of Cambridge,11,Lancaster University,21,University of East Anglia,31,University of Essex
1,2,University of Oxford,12,University of Birmingham,22,University of Manchester,32,Harper Adams University
2,3,London School of Economics,12,University of Surrey,23,University of Leeds,33,University of Strathclyde
3,4,University of St Andrews,14,University of Exeter,24,King's College London,34,Northumbria University
4,5,Imperial College London,15,University of Edinburgh,25,Queen's University Belfast,35,University of Reading
5,6,Durham University,16,University of Bristol,26,Newcastle University,36,University of Leicester
6,7,Loughborough University,17,University of York,27,Cardiff University,37,"Royal Holloway, University of London"
7,8,University of Bath,18,University of Sheffield,28,University of the Arts London,38,"City, University of London"
8,9,University College London,18,University of Liverpool,29,University of Glasgow,39,Swansea University
9,10,University of Warwick,20,University of Southampton,30,University of Nottingham,40,University of Aberdeen